/**
 * Sponsor Details Metabox
 */
#rhc_sponsor_details .description {
  color: #777777;
  display: block;
  font-size: 12px;
  line-height: 1.4em;
  font-style: normal;
  margin: 3px 0 0 !important;
  padding: 0 !important; }
#rhc_sponsor_details .fa {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 14px; }
#rhc_sponsor_details fieldset label {
  font-weight: normal;
  float: left;
  margin-right: 5px; }
#rhc_sponsor_details i {
  position: absolute;
  top: 5px;
  left: 7px;
  opacity: 0.5;
  color: #A9A9A9; }
.icon #rhc_sponsor_details input {
  padding-left: 25px; }
#rhc_sponsor_details input.full-width {
  width: 100%; }
#rhc_sponsor_details .inside {
  margin: 0 !important;
  padding: 0 !important; }
  #rhc_sponsor_details .inside .sponsor-details-row:first-child {
    border-top-width: 0; }
#rhc_sponsor_details label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0 0 3px; }
  #rhc_sponsor_details label input {
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    margin: 0; }
#rhc_sponsor_details .sponsor-input-wrap {
  position: relative;
  overflow: hidden; }
#rhc_sponsor_details .sponsor-details-row {
  padding: 15px 12px;
  border-top: #EEEEEE solid 1px;
  position: relative;
  clear: left; }