// Carousel styling

.bx {
	&-wrapper {
		border: none!important;
		box-shadow: none!important;
		body.home & { //mixin located in mixins-master.scss
			@include bg_color_check(home);
			
			}
		@include bg_color_check(none);
		img {
			body.home & { //mixin located in mixins-master.scss
				//@include invert_jpg_images(home);
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);

				@include transition(filter 300ms);
				&:hover, {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
				}
			}

		}
	}
}
ul.sponsor-slider {
	@include display-flex;
	@include align-items (center);
}

li.sponsor-carousel-item {
	background: #FFF;
	border-top: 5px solid #111111;
	border-bottom: 5px solid #111111;
	border-left: 2.5px solid #111111;
	border-right: 2.5px solid #111111;
	padding: .75em;
	
	@include display-flex;
	@include align-self (stretch);
	@include align-items (center);
	a {
		border-top-color: transparent;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border: none;
		border-bottom: none!important; //smash anchor link styles that try to add underlines in theme
		box-shadow: none;
		img {
			border-top-color: transparent;
			border-right-color: transparent;
			border-left-color: transparent;
			border-bottom-color: transparent;
			border: none;
		}
	}
}