//Build Theme Colors

$rhcRed: #c21f32; // RHC Specific Theme Color
$color_base: $rhcRed; // set this up for future iterations

// Let's create the variations
// Ref: http://codepen.io/thebeckyhamm/pen/szEyK
// Ref: http://jackiebalzer.com/color
// shade($color, $percentage)
$color_base_shade: shade($color_base, 20%);
// tint($color, $percentage)
$color_base_tint: tint($color_base, 30%);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color_base;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #404040;
$color__text-main-inverse: invert($color__text-main);
$color__text-light: tint($color__text-main, 20%);
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

//Links
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $color_base;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
