$number_of_sponsors : 7;
$width_of_sponsors_container : 880px;

.flexbox {
	ul#sponsors-inline {
	
	margin: 0;
	padding: 1em;
	list-style-type: none;
	@include until($bp-600){
		min-height: 185px;
		clear:both;
	}
	@include at-least($bp-lg) {
		@include flex-flow(row nowrap);
	}
	li {
		@include at-least($bp-xs){
			max-width: 100px;
		}
		@include at-least($bp-lg){
			max-width: 120px;
		}
		
		padding: 0.5em;
		@include flex(0 1 auto);
		@include until($bp-md) {
			width: calc(25% - 1em );
			padding: 1.2em 0.5em;
			@include display-flex;
			@include align-self (stretch);
			@include align-items (center);
			@include justify-content (center);
		}
		@include until($bp-sm) {
			width: calc(50% - 1em );
		}
		img {
			max-height: 75px;
		    width: auto;
		    max-width: 100%;
		    height: auto;
		}
		
	}
	
	}
}