// WP basics
$admin-bar-desktop: 32px;
$admin-bar-mobile: 46px;

// Layouts
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Widths of content
@mixin content_inset($page-type){
	@if $page-type == page {
	.page & {
			max-width: 70rem;
			margin-left: auto;
			margin-right: auto;
			@include at-least($bp-xs) {
				padding-left: 15px;
				padding-right: 15px;
			}
			@include at-least($bp-md) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@else {
		max-width: 700px;
		max-width: 70em;
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
		@include at-least($bp-xs) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@include at-least($bp-md) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Navbar
//// Check if page type is home, invert colors.
//// Used on:
/////// Navbar
/////// Links > a
@mixin bg_color_check($page-type) {
	@if $page-type == home {
		background-color: invert($color__background-body);
	}
	@else {
		background-color: $color__background-body;
	}
}

@mixin font_color_check($page-type) {
	@if $page-type == home {
		color: lighten(invert($color__text-main), 20%);
	}
	@else {
		color: $color__text-main;
	}
}

@mixin invert_jpg_images($page-type) {
	@if $page-type == home {
		-webkit-filter:invert(100%);
	     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
	     } 
}

@mixin link_formats($link-type) {
	@if $link-type == home { //inversion for homepage
		text-decoration: none;
		@include font_color_check(home);
		@include transition(color 200ms 100ms, border-bottom 200ms 100ms);
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $color__link-hover;
		}
	}
	@elseif $link-type == siteButtons { //set colors, decoration in buttons.scss
		font-family: $font__heading;
		text-transform: uppercase;
		text-decoration: none;
		@include font_color_check(home); //buttons have dark backgrounds
		@include transition(color 200ms 100ms, background 200ms 100ms, border-color 200ms 100ms);
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		&:focus {
			outline: none;
		}
		body.home {
			border-bottom: none;
		}
	}
	@else {
		text-decoration: none;
		@include font_color_check(none);
		
		@include transition(color 200ms 100ms, border-bottom 200ms 100ms);
		&:visited {
			color: $color__link-visited;
		}
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: $color__link-hover;
			
		}
		&:focus {
			outline: none;
		}
		&:hover,
		&:active {
			outline: none;
		}
	}
}

// Typography
//all Headings
@mixin heading-border($page-type) {
	@if $page-type == home {
		border-bottom: 1px solid (lighten(invert($color__text-main), 20%));
	} @else {
		border-bottom: 1px solid $color__text-main;
	}
	
}

//Translate 3D
@mixin translate3d ($x:0 , $y: 0, $z: 0) {
    -webkit-transform:   translate3d($x, $y, $z);
    -moz-transform:      translate3d($x, $y, $z);
    -ms-transform:       translate3d($x, $y, $z);
    -o-transform:        translate3d($x, $y, $z);
    transform:           translate3d($x, $y, $z);
    behavior: url($path-pie);
}


//Opacity
@mixin opacity($opacity: 0.5) {
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -webkit-opacity: $opacity;
  opacity: $opacity;
  $opperc: $opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=$opperc)";
  filter: alpha(opacity=$opperc);
}

//Breakpoints
// ref: http://codepen.io/imathis/pen/BDzcI
// ref: https://css-tricks.com/naming-media-queries/
// http://www.iambacon.co.uk/blog/life-is-now-easier-create-media-query-mixins-with-rulesets-less-css

// and set variables for the project for our breakpoints (bp)
$bp-xs: 0px;
$bp-sm: 480px;
$bp-600: 600px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1500px;


// Mixin to setup responsive media query gaurd
@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

// use
// 	 .div {
// 		background: #aaa;
// 		@include at-least($bp-sm) {
// 			background: orange;
// 		}
// 	 }


@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}

// use
// 	 .div {
// 		width: 200px; height: 100px;
// 		  @include until($bp-sm){
// 		    width: 100px; height: 200px;
// 		  }
// 		}
// 	 }


@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

// .class-example {
//   @include calc("width", "100% - #{$image-size}");
// }