// Used by IE, Firefox on Windows, some windows devices.

$number_of_sponsors : 8;
$width_of_sponsors_container : 880px;

.no-flexbox {
	ul#sponsors-inline {
		position: relative;
		padding:0;
		width: 100%;
		height:76px;
		text-align: center;
		@media screen and (max-width:768px) {
				visibility: hidden;
			}
		li {
			display: inline-block;
			width:($width_of_sponsors_container / $number_of_sponsors);
			height:50px;
			max-width: 150px;
			margin:0 0 18px 0;
			position:relative;
			img {
				position:absolute;
				bottom:0;
				max-width:75px;
				height:auto;
			}
		}
		// individual sponsors on homepage
		li.asssavers {
			width:68px;
			img {
				left:-5px;
			}
		}
		
		li.bcneta,
		li.bcneta img {
			width:100px;
			max-width:100px;
		}

		li.ffwd img {
			bottom:1px;
		}
		li.intelli img {
			bottom:-7px;
		}
		
		li.moritz {
			max-width:50px;
			img {
				bottom:-10px;
				max-width:50px;
			}
		}

		li.tacx { 
				img {
				width:60px;
				height:auto;
			}
		}
		
	}
	// end individual sponsors styles


	/////////////////////////////////    SPONSORS PAGE //////////////////////////////

.sponsors {
	li.sponsors-item {
		// http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div
	 	vertical-align: middle;
		height:200px; // equals max image height
		@include at-least($bp-xs) {
			width: 100%;
		}
		@include at-least($bp-md) {
			width: 50%;
		}
		@include at-least($bp-lg) {
			width: percentage(1/3);
		}
		margin:0;
		white-space: nowrap;
		text-align: center;
		&:before {
			content: "";
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		}
		img {
			vertical-align: middle;
		    max-height: 200px;
		    max-width: 300px;
		}
	}
}


} // end no-flexbox