// also works for archive-sponsors because of slug assignment at RHC website

header#sponsor-header {
	visibility: hidden;
}

ul.sponsors-group {
	margin: 0;
	padding: 0;
	@include display-flex;
	@include justify-content(center);
	@include align-items (center);
	@include flex-flow (row wrap);
    list-style-type: none;
    .no-flexbox & {
    	text-align: center;
    }
}

li.sponsors-item {
	padding: 1.8em;
	@include display-flex;
	@include align-self (stretch);
	@include align-items (center);
	@include justify-content(center);
	a {
		border-bottom: none;

		&:hover, &:focus, &:active {
			border-bottom: none;
		}
	}
	
	
	.group-wrap.presenting-sponsor & {
		
	min-height: 300px;
	justify-content: center;
	@include until($bp-md) {
		padding: 0.5em;
		}
	
	a img {
			max-height: 400px;
		    width: auto;
		    max-width: 100%;
		    height: auto;
		}
	}
	.group-wrap.sponsors & {
		@include transition(padding, 200ms);
		@include at-least($bp-xs) {
			width: 100%;
			padding: 3em;
		}
		@include at-least($bp-sm) {
			@include calc("width", "50%");
			padding: 2em;
		}
		@include at-least($bp-md) {
			padding: 3em;
		}
		@include at-least($bp-lg) {
			@include calc("width", "33.333333%");
			padding: 4em;
		}
		.no-flexbox & {
			display: block;
			float: left;
		}
		a {
			img {
				display: block;
				max-width: 252px;
				width: 100%;
				height: auto;
			}
		}
		
		// no-flexbox support is in _no-flexbox.scss
	}
	.group-wrap.partner & , .group-wrap.media-partner & {
		@include at-least($bp-xs) {
			width: percentage(1/2);
			padding: 1em;
		}
		@include at-least($bp-sm) {
			width: percentage(1/3);
			padding: 1.4em;
		}
		@include at-least($bp-md) {
			width: percentage(1/4);
			padding: 2em;
		}
		a {
			img {
				display: block;
			    max-width: 221px;
			    width: auto;
			    max-height: 134px;
			    height: auto;
			}
		}
		.no-flexbox & {
			display: block;
			float: left;
		}
	}
	
}

.sponsors-title {
	text-align: center;
}
