/**
 * Sponsor Details Metabox
 */
#rhc_sponsor_details {
	.description {
		color: #777777;
		display: block;
		font-size: 12px;
		line-height: 1.4em;
		font-style: normal;
		margin: 3px 0 0 !important;
		padding: 0 !important;
	}
	

	
	.fa {
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 14px;
	}
	fieldset label {
		font-weight: normal;
		float: left;
		margin-right: 5px;
	}
	i {
		position: absolute;
		top: 5px;
		left: 7px;
		opacity: 0.5;
		color: #A9A9A9;
	}
	input {
		.icon & {
			padding-left: 25px;
		}
		&.full-width {
			width: 100%;
		}
	}
	.inside {
		margin: 0!important;
		padding: 0!important;
		.sponsor-details-row {
			&:first-child {
				border-top-width: 0;
			}
		}
	}
	label {
		display: block;
		font-weight: bold;
		font-size: 13px;
		line-height: 1.4em;
		margin: 0 0 3px;
		input {
			font-weight: normal;
			font-size: 12px;
			line-height: normal;
			margin: 0;
		}
	} // label
	.sponsor-input-wrap {
		position: relative;
		overflow: hidden;
	}
	.sponsor-details-row {
		padding: 15px 12px;
		border-top: #EEEEEE solid 1px;
		position: relative;
		clear: left;
		
	}
}